<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <img src="assets/Images/officialimage.jpg" width="100%" height="100%">
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="seconddiv">
        <div id="icondiv">
          <mat-icon>home</mat-icon>
        </div>
        <br>
        <div>
          <img src="assets/Images/exela.png" class="center">
        </div>
        <br><br>
        <div>
          <form [formGroup]="SignUpForm" (ngSubmit)=onSubmit() enctype="multipart/form-data">
            <div class="form-group">
              <label>User Name</label>
              <input class="form-control" type="text" formControlName="Username" placeholder="user name"
                [ngClass]="{'is-invalid':submitted}" />
              <div *ngIf="submitted && f.Username.errors" class="invalid-feedback">
                User name is required
              </div>
            </div>
            <!--Error message-->
            <!-- <div *ngIf="SignUpForm.controls['Username'].invalid && (SignUpForm.controls['Username'].dirty || SignUpForm.controls['Username'].touched)" class="alert alert-danger">
                      <div *ngIf="SignUpForm.controls['Username'].errors">
                        User Name is required.
                      </div> -->
            <!-- <div *ngIf="SignUpForm.controls['Username'].errors.minLength">
                          minimum 4 characters require.
                      </div>
                      <div *ngIf="SignUpForm.controls['Username'].errors.maxLength">
                          Maximun 10 characters require.
                        </div> -->
            <!-- </div> -->
            <!--End error message-->


            <div class="form-group">
              <label>First Name</label>
              <input class="form-control" type="text" formControlName="FirstName" required>
            </div>
            <!--Error message-->
            <div
              *ngIf="SignUpForm.controls['FirstName'].invalid && (SignUpForm.controls['FirstName'].dirty || SignUpForm.controls['FirstName'].touched)"
              class="alert alert-danger">
              <div *ngIf="SignUpForm.controls['FirstName'].errors">
                First Name is required.
              </div>
            </div>
            <!--End error message-->

            <div class="form-group">
              <label>Last Name</label>
              <input class="form-control" type="text" formControlName="LastName" required>
            </div>
            <!--Error message-->
            <div
              *ngIf="SignUpForm.controls['LastName'].invalid && (SignUpForm.controls['LastName'].dirty || SignUpForm.controls['LastName'].touched)"
              class="alert alert-danger">
              <div *ngIf="SignUpForm.controls['LastName'].errors">
                Last Name is required.
              </div>
            </div>
            <!--End error message-->

            <div class="form-group">
              <label>Email</label>
              <input class="form-control" type="email" formControlName="Email" placeholder="Email"
                [ngClass]="{'is-invalid':submitted}" />
              <div *ngIf="submitted && f.Username.errors" class="invalid-feedback">
                email is required
              </div>
            </div>
            <!--Error message-->
            <div
              *ngIf="SignUpForm.controls['Email'].invalid && (SignUpForm.controls['Email'].dirty || SignUpForm.controls['Email'].touched)"
              class="alert alert-danger">
              <div *ngIf="SignUpForm.controls['Email'].errors">
                Email is required.
              </div>
            </div>
            <!--End error message-->

            <div class="form-group">
              <label>Phone</label>
              <input class="form-control" type="tel" formControlName="Phone" placeholder="phone"
                [ngClass]="{'is-invalid':submitted}" />
              <div *ngIf="submitted && f.Username.errors" class="invalid-feedback">
                phone number is required
              </div>
            </div>

            <div class="form-group">
              <label>Date Of Birth</label>
              <input class="form-control" type="date" formControlName="DOB">
            </div>

            <!-- <div class="form-group">
                    <label>UserID</label>
                    <input class="form-control" type="text" formControlName="UserId">
                  </div> -->

            <div class="form-group">
              <label>Role</label>
              <select formControlName="Role" class="form-control">
                <option>select Role</option>
                <option *ngFor="let role of Role">{{role}}</option>
              </select>
            </div>


            <!-- <div class="form-group">
                    <label>Gender</label>
                    <input class="form-control" type="text" formControlName="Gender" required>
                  </div> -->

            <div class="form-group">
              <label>Gender</label>
              <select formControlName="Gender" class="form-control">
                <option>select gender</option>
                <option *ngFor="let gen of gender">{{gen}}</option>
              </select>
            </div>

            <!-- <div class="form-group">
                    <label for="gender">Gender:</label>
                    <div>
                      <input id="male" type="radio" value="male" name="gender" formControlName="gender">
                      <label for="male">Male</label>
                   </div>
          
                   <div>
                      <input id="female" type="radio" value="female" name="gender" formControlName="gender">
                      <label for="female">Female</label>
                   </div>
                </div> -->

            <div class="form-group">
              <label>Password</label>
              <input class="form-control" type="password" formControlName="Password" placeholder="password"
                [ngClass]="{'is-invalid':submitted}" />
              <div *ngIf="submitted && f.Username.errors" class="invalid-feedback">
                Password is required
              </div>
            </div>
            <!--Error message-->
            <div
              *ngIf="SignUpForm.controls['Password'].invalid && (SignUpForm.controls['Password'].dirty || SignUpForm.controls['Password'].touched)"
              class="alert alert-danger">
              <div *ngIf="SignUpForm.controls['Password'].errors">
                Password is required.
              </div>
            </div>
            <!--End error message-->

            <div class="form-group">
              <label>Verify Password</label>
              <input class="form-control" type="password" formControlName="VerifyPassword"
                placeholder="re-enter password" [ngClass]="{'is-invalid':submitted}" />
              <div *ngIf="submitted && f.VerifyPassword.errors" class="invalid-feedback">
                <div *ngIf="f.VerifyPassword.errors.MustMatch"> Password not matching </div>
              </div>
            </div>

            <!-- <div class="form-group">
              <label>Profile Image</label>
              <input type="file" formControlName="profilepic">
            </div> -->


            
            <div class="form-group">
              <button type="submit" mat-raised-button color="accent" class="btn btn-block">
                REGISTER
              </button>
            </div>

          </form>

          <br><br>
          <div>
            Already have an account? &nbsp;&nbsp; <a class="text-primary" routerLink="/login">sign in </a>
          </div>
        </div>
        <br><br><br><br><br>
        <div id="copyrights">Copyright 2021, Exela PFP-GP V1.0.0, All Rights Reserved</div>
      </div>
    </div>
  </div>
</div>

<!--
  
                      
              
                      <div class="form-group">
                        <label>First Name</label>
                        <input class="form-control" type="text" formControlName="FirstName" required>
                      </div>
            
                      <div class="form-group">
                        <label>Last Name</label>
                        <input class="form-control" type="text" formControlName="LastName" required>
                      </div>
            
                      <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="email" formControlName="Email" required>
                      </div>
            
                      <div class="form-group">
                        <label>Phone</label>
                        <input class="form-control" type="number" formControlName="Phone" required>
                      </div>
            
                      <div class="form-group">
                        <label>Date Of Birth</label>
                        <input class="form-control" type="date" formControlName="DOB" required>
                      </div>
            
                      <div class="form-group">
                        <label>UserID</label>
                        <input class="form-control" type="text" formControlName="UserId" required>
                      </div>
            
                      <div class="form-group">
                        <label>Gender</label>
                        <input class="form-control" type="text" formControlName="Gender" required>
                      </div>
            
                      <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" formControlName="Password" required>
                      </div>
            
                      <div class="form-group">
                        <label>Verify Password</label>
                        <input class="form-control" type="password" formControlName="VerifyPassword" required>
                      </div>
              
                      <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">Add User</button>
                      </div>
                    </form>
-->